body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*** Sidebar Component ***/
.panel-heading {
  cursor: pointer;
}

/*** ***/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ---- for example.  may remove  ----*/
.green-text {
  color: #33a223;
}
/*-------example over ---------------*/

.edit-info,
.edit-info a {
  font-size: 0.8rem;
  color: #889988;
}

.edit-info a {
  padding: 0 0.5rem;
}

.content-area {
  box-sizing: border-box;
  max-width: calc(100vw - 200px);
  padding: 0 5%;
}

.user-list,
.user-page {
  padding: 0 20%;
}

.content-area table,
.user-list table,
.user-page table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.content-area td,
.content-area th {
  padding: 1rem;
  border: 0.125rem solid #123321;
}

.content-area table tr:nth-child(2n + 1) {
  background-color: #dededd;
}

.content-area .outer-links {
  padding: 0.5rem 0;
}

.content-area .outer-links a {
  color: #4466bb;
}

.user-list table {
  padding: 0 1rem;
  border: 0.0625rem solid #123321;
}

.user-list .avatar {
  height: 4rem;
  width: auto;
}

.user-page table {
  padding: 0 1rem;
  border: 0.0625rem solid #123321;
}

.user-page .avatar img {
  height: 8rem;
  width: auto;
}

.user-list table tr:nth-child(2n + 1) {
  background-color: #dededd;
}

.user-page table td {
  padding: 0.5rem 1rem;
}

.user-page table td:first-child {
  font-weight: bold;
}

.user-page table tr:nth-child(2n + 1) {
  background-color: #dededd;
}

#root {
  height: 100%;
}

.loading {
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

@keyframes blink{
	0% {opacity: 1}
	100% {opacity: 0}
}



.loading .description{
	animation: blink .5s infinite alternate;
}




